/* All HTML Pages */
body {
    margin: 0;
}

.sitename {
    font-family: 'Black Ops One', cursive;
    font-size: 30px;
}

header {
    position: fixed;
    color: white;
    background-color: black;
    width: 100%;
    height: 60px;
    padding: 10px;
    top: 0;
    left: 0;
}


.nav {
    top: 2px;
    right: 30px;
    position: absolute;
    background-color: white;
}
.nav2 {
    top: 38px;
    right: 30px;
    position: absolute;
    background-color: white;
    border-top: 4px solid white;
}

.navlink {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: black;
    width: 80px;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    font-size: 16px;
}

.navlink:hover {
    background-color: grey;
}



/* BODY */

body {
    /* background-image: "img/options/clothes.jpg"; */
    background-color: #cccccc;
    background-image: linear-gradient(#58634c, #e6e8ed, #58634c, #e6e8ed);
}

/* main * {
    border: 1px dashed red;
} */

.andy, .elijah, .joyce, .katherine {
    display: block;
    margin-top: 25px;
}

p {
    font-family: 'Exo 2';
    font-size: 22px;
    margin-left: 10px;
}

footer {
    font-family: 'Exo 2';
    font-size: 18px;
    margin-top: 100px;
    margin-bottom: 70px;
    font-weight: bold;
}

.container, footer {
    margin-left: 120px;
    margin-right: 120px;
}

h1 {
    margin-top: 120px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Exo 2';
}

h2 {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Exo 2';
    margin-bottom: 30px;
}

.headshots {
    width: 300px;
    margin-left: 70px;
    border-radius: 30%;
}


.person-img {
    width: 40%;
    display: inline-block;
}

.person-text {
    width: 55%;
    display: inline-block;
    vertical-align: top;
}




