/* All HTML Pages */
body {
    /* background-image: url(); */
    background-repeat: no-repeat;
    background-size: 100% 600px;
    margin: 0;
}
.bgbutton {
    position:relative;
    top:100px;
    height:40px;
    width:50px;
}
header {
    position: fixed;
    color: white;
    background-color: black;
    width: 100%;
    height: 60px;
    padding: 10px;
    top: 0;
    left: 0;

    z-index: 20;
}

.sitename {
    font-family: 'Black Ops One', cursive;
    font-size: 30px;
}

.homepage {
    list-style-type: none;
    text-decoration: none;
    color: #fff;
}

.homepage:hover {
    color: rgb(140,140,170);
}

.nav {
    top: 2px;
    right: 30px;
    position: absolute;
    background-color: white;
}
.nav2 {
    top: 38px;
    right: 30px;
    position: absolute;
    background-color: white;
    border-top: 4px solid white;
}

.navlink {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: black;
    width: 80px;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    font-size: 16px;
}

.navlink:hover {
    background-color: rgb(140,140,170);
}

/* FOR RESULTS page */
main {
    margin-top: 100px;
    font-family: 'Exo 2', sans-serif;
    font-size: 20px;
    text-align: center;
}

p {
    margin: 20px;
}

.image-text {
    color: black;
    display: block;
    margin: 5px;
    text-align: left;
}

.results-img {
    position: absolute;
    top: 375px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.options {
    display: inline-block;
    margin: 5px;
}

.options-img {
    width: 200px;
    height: 150px;
}

#clothes, #dental, #food, #health, #sleep, #social {
    z-index: 5;
}


#vehicle {
    z-index: 3;
}

#skateboard {
    z-index: 2;
}

#housing {
    z-index: 1;
}

#tent {
    z-index: 0;
}

#raccoon {
    z-index: 4;
}
#clothes, #dental, #food, #health, #vehicle, #sleep, #social, #housing {
    visibility: hidden;
}

.sacrifices {
    margin-top: 450px;
    margin-bottom: 30px;
}