/* All HTML Pages */
body {
    background-repeat: no-repeat;
    background-size: 1600px 1300px;
    background-position: center -630px;
}

header {
    position: fixed;
    color: white;
    background-color: black;
    width: 100%;
    height: 60px;
    padding: 10px;
    top: 0;
    left: 0;
    z-index: 20;
}

.sitename {
    font-family: 'Black Ops One', cursive;
    font-size: 30px;
}

.homepage {
    list-style-type: none;
    text-decoration: none;
    color: #fff;
}

.homepage:hover {
    color: rgb(140,140,170);
}

.nav {
    top: 2px;
    right: 30px;
    position: absolute;
    background-color: white;
}
.nav2 {
    top: 38px;
    right: 30px;
    position: absolute;
    background-color: white;
    border-top: 4px solid white;
}

.navlink {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: black;
    width: 80px;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    font-size: 16px;
}

.navlink:hover {
    background-color: rgb(140,140,170);
}

/* FOR RESULTS page */
main {
    margin-top: 100px;
    font-family: 'Exo 2', sans-serif;
    font-size: 20px;
    text-align: center;
}

.bgbutton {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-family: 'Exo 2', sans-serif;
    text-align: center;
    border-radius: 15px;
    width: 40px;
    height: 15px;
    padding: 6px;
    z-index: 6;
}

#trollbg {
    left: 20px;
    top: 180px;
}

#pikeplacebg {
    left: 20px;
    top: 215px;
}

#spaceneedlebg {
    left: 20px;
    top: 250px;
}

.top-text {
    display: inline-block;
    background-color: rgba(200, 200, 200, 0.4);
    box-shadow: 0px 0px 10px white;
    padding: 10px;
    border-radius: 10px;
}

.image-text {
    color: black;
    display: block;
    margin: 5px;
    text-align: left;
}

.results-img {
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.options {
    display: inline-block;
    margin: 5px;
}

.options-img {
    width: 200px;
    height: 150px;
}

#clothes, #dental, #food, #health, #sleep, #social {
    z-index: 5;
}


#vehicle {
    z-index: 3;
}

#skateboard {
    z-index: 2;
}

#housing {
    z-index: 1;
}

#tent {
    z-index: 0;
}

#raccoon {
    z-index: 4;
}
#clothes, #dental, #food, #health, #vehicle, #sleep, #social, #housing {
    visibility: hidden;
}

.sacrifices {
    margin-top: 560px;
    margin-bottom: 30px;
    text-shadow: 1px 1px white;
}

.gone {
    margin-bottom: 30px;
}