/* All HTML Pages */
body {
    margin: 0;
}

header {
    position: fixed;
    color: white;
    background-color: black;
    width: 100%;
    height: 50px;
    padding: 10px;
    top: 0;
    left: 0;
}

.nav {
    float: right;
}

.navlink {
    display: inline-block;
    text-decoration: none;
    color: green;
}

/* CSS FOR OPTIONS.HTML */
.flex-container {
    display: flex;
    min-width: 250px;
    max-width: 1000px;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 100px auto 0 auto;
}

.item {
    width: 200px;
    height: 100px;
    background-color: green;
    margin: 10px;
}

/* CSS FOR INDEX.HTML */

#indexbody {
    background-image: url("../img/indexbackground.JPG");
    background-size: cover;
    background-repeat: no-repeat;
}
#user-form, #introtext{
    position:relative;  
    top:200px;
    left:25%;
}
.name {
    width:50%;
    padding:12px 12px;
    font-size:20px;
}
.name:focus {
    transition:350ms;
    background-color:lightblue; 
    border: 3px solid blue;
}
.submit {
    padding:12px 12px;
}
.submit:hover, .submit:active {
    transition:350ms;
    background-color: lightblue;
}